.App {
  padding: 0;
}

.Header {
  border-bottom: 1px solid #ddd;
}

.Body {
  margin-top: 10px;
}

.Post {
  margin-top: 10px;
}

.Post:hover {
  background: #eee;
}

.Post a {
  text-decoration: none;
}

.Content {
  margin-left: 10px;
  padding-top: 10px;
}

.InputField {
  margin-bottom: 10px;
}

.Write {
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;
}

.More {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: right;
}